<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @sub_category.category.cat_descript %>
</p>

<p>
  <strong>Sub cat descrip:</strong>
  <%= @sub_category.sub_cat_descrip %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>
