<p id="notice"><%= notice %></p>

<h1>Ciudades</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"><%= link_to 'Nueva Ciudad', new_city_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city_descrip %></td>
        <td><%= link_to 'Mostrar', city %></td>
        <td><%= link_to 'Editar', edit_city_path(city) %></td>
        <td><%= link_to 'Eliminar', city, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
