<p id="notice"><%= notice %></p>

<h1>Categorias</h1>
<%= search_form_for @q do |f| %>

  <%= f.search_field :cat_descript_cont, placeholder:'Buscar', class:"form-control" %>
<%= link_to "Limpiar", request.path, class: "btn btn-default" %>
  <%= f.submit 'Buscar', class: 'btn btn-primary' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= sort_link @q, :cat_descript, "Descripcion"%></th>
      <th colspan="3"><%= fa_icon "plus-square", class: 'mx-2', size: '1x' %><%= link_to 'Nueva Categoria', new_category_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.cat_descript %></td>
        <td><%= fa_icon "eye", class: 'mx-2', size: '1x' %><%= link_to 'Mostrar', category %></td>
        <td><%= fa_icon "pen", class: 'mx-2', size: '1x' %><%= link_to 'Editar', edit_category_path(category) %></td>
        <td><%= fa_icon "trash-alt", class: 'mx-2', size: '1x' %><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination justify-content-center">Mostrar

<%= form_tag categories_path, method: :get, id: 'limit_form', remote: true do %>
   <%= select_tag :limit, options_for_select([5, 10, 15, 20],
      selected: params[:limit] || 10) %>
<% end %>Categorias por pagina</div>
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
    <%= paginate @categories %>

  </ul>
</nav>
<br>
<script type="text/javascript" >

  $(function(){
    $('#limit').change(
      function() {
       $('#limit_form').submit();
      });
  });

</script>
